/* universal styling*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: rgb(103, 77, 42);
    background-color: pink;    text-decoration: none;
    font-family: 'Courier New', Courier, monospace'
}

/* styling for header */
header {
    text-align: center;
    font-size: 2em;
    padding: .5em;
    border-bottom: solid rgb(103, 77, 42);
    width: 100%;
    background-color: rgb(240, 157, 171);
}

header a {
    background-color: rgb(240, 157, 171);
}

/* styling for header */
footer {
    background-color: rgb(240, 157, 171);
    text-align: center;
    font-size: 1em;
    padding: 1em;
    width: 100%;
}

footer a {
    background-color: rgb(240, 157, 171);
}

h3, h1{
    background-color: rgb(240, 157, 171);
}


/* scroll styling */
html {
    scroll-behavior: smooth;
}

/* styling for nav bar in header section */
nav {
    text-align: center;
    background-color: rgb(240, 157, 171);
}

/* styling for lists in nav bar in header section */
nav ul li {
    display: inline-block;
    margin: 0 1em;
    font-size: .6em;
    background-color: rgb(240, 157, 171); 
}

nav ul {
    background-color: rgb(240, 157, 171); 
}

/* styling for contents in nav bar in header section*/
nav a {
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background-color: rgb(240, 157, 171);
}

/* hover effect for nav bar in header section */
nav a:hover {
    color: rgb(186, 16, 124);
    font-size: larger;
    opacity: 70%;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.1);
    transition: 1s ease;
}

/* styling for main section */
main {
    text-align: center;
    flex-wrap: wrap;
}

/* styling for area surrounding image */
.pic {
    padding: 1em;
    display: flex;
    /* margin-top: .2%; */
    justify-content: center;
}

/* defines styling for image content */
#mypic {
    width: 25em;
    border-radius: 15%; 
    border:.4em solid rgb(103, 77, 42);
}

/* styling for header hover effects */
.pic img:hover {
    box-shadow: 0 0 0 1.5em #d29999;
    transition: .5s ease;
}


/* styling for content section */
.content {
    display: flex;
    flex-wrap: wrap;
    max-width: 85%;
    text-align: center;
    /* justify-content: center; */
    margin: 2% 1%;
    font-size: 1em;
}
.center {
    margin: 0% 10% 0% 35%;
}

/* styling for subcontent in content section */
.subcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 50%;
    padding-left: 3%;
    border-left: .35em solid rgb(103, 77, 42); 
    margin: 0 2.5em;
}

/* styling for portfolio section */
.portfolio {
    border: 2em solid var(--secondary);
    background-color: var(--primary);
    color: var(--tertiary);
    min-height: 10em;
    max-height: 15em;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 2em 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
}

/* styling for child section portfolio section */
.portfolio:first-child {
    min-height: 15em;
    flex-basis: 100%;
}

/* styling for unordered lists */
.subcontent ul li {
    justify-content: center;
    list-style-type: none;
    display: inline-block;
    margin: 0 2em;
}


/* styling for h2 */
.content > h2 {
    max-width: 10%;
    flex: 0 0 20%;
    text-align: right;
    padding-right: .5em;
    border-right: 1em solid var(--primary);
    font-size: 1.4em;
    line-height: 1.1;
}

/* styling for subcontent classes */
.subcontent div {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-size: cover;
    background-position: center;
    /* height:20%;
    width: 50%; */
    border:.2em solid rgb(103, 77, 42);
    border-style: solid;
    font-size: 1em;
    font-weight: bold;
    border-radius: 20%;  
}

/* add background image for work section */
.subcontent div#prework {
    background-image: url(../images/1.jpg);
}

.subcontent div#refactor {
    background-image: url(../images/2.jpg);
}

.subcontent div#arche {
    background-image: url(../images/3.png);
}

/* styling for address section */
.content address {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    /* border-left: .35em solid rgb(103, 77, 42);  */
    margin: 0 2.5em;
    padding-left: 6%;
}

/* styling for address section */
.content address a{
    /* display: inline-block; */
    /* padding-left: 2 em; */
    /* margin-left: 2em; */
    /* letter-spacing: .1em; */
    font-weight: bolder;
}
/* hover effects for subcontents */
.subcontent a:hover {
    color: rgb(186, 16, 124);
    font-size: larger;
    font-weight: bold;
    opacity: 90%;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.1);
    transition: 1s ease;
    
}
.subcontent div:hover {
    opacity: 70%;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.1);
    transition: 1s ease;
}

.content address a:hover {
    color: rgb(186, 16, 124);
    font-size: larger;
    font-weight: bold;
    opacity: 90%;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.1);
    transition: 1s ease;
}

footer a:hover {
    color: rgb(186, 16, 124);
    font-size: larger;
    font-weight: bold;
    opacity: 90%;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.1);
    transition: 1s ease;
}

/* media query */
@media screen and (max-width: 768px) {
    .subcontent {
      display: block;
    }
}