/* universal styling*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: rgb(103, 77, 42);
    background-color: pink;
    align-content: center;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace'
}

/* styling for header */
header {
    text-align: center;
    font-size: 50px;
    padding: 30px;
    border-bottom: solid rgb(103, 77, 42);
    width: 100%;
    ;
}

/* styling for header */
footer {
    text-align: center;
    font-size: 25px;
    padding: 30px;
    border-bottom: solid rgb(103, 77, 42);
    width: 100%;
    ;
}

/* styling for nav bar in header section */
nav {
    padding-top: 10px;
    text-align: center;
}

/* styling for lists in nav bar in header section */
nav ul li {
    display: inline-block;
    margin: 0 15px;
    font-size: 30px;
}

/* styling for contents in nav bar in header section*/
nav a {
    font-weight: bold;
    text-decoration: none;
    text-align: center;
  }

/* hover effect for nav bar in header section */
nav a:hover {
    color: rgb(186, 16, 124);
    font-size: larger;
    opacity: 70%;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.1);
    transition: 1s ease;
}

/* styling for main section */
main {
    text-align: center;
    flex-wrap: wrap;
}

/* styling for area surrounding image */
.pic {
    padding: 10px;
    display: flex;
    margin-top: 2%;
    justify-content: center;
}

/* defines styling for image content */
#mypic {
    width: 500px;
    border-radius: 15%; 
    border:5px solid rgb(103, 77, 42);
}

/* styling for header hover effects */
.pic img:hover {
    box-shadow: 0 0 0 30px #dcafaf;
    transition: .5s ease;
}


/* styling for content section */
.content {
    display: flex;
    flex-wrap: wrap;
    max-width: 85%;
    text-align: center;
    margin: 2% 10% 2% 10%;
    font-size: 35px;
    
}

/* styling for subcontent in content section */
.subcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 50%;
    padding-left: 4%;
    border-left: 8px solid rgb(103, 77, 42); 
    margin: 0 50px;
}

/* styling for portfolio section */
.portfolio {
    border: 5px solid var(--secondary);
    background-color: var(--primary);
    color: var(--tertiary);
    min-height: 150px;
    max-height: 450px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.9rem;
    
}

/* styling for child section portfolio section */
.portfolio:first-child {
    min-height: 450px;
    flex-basis: 100%;
}

/* styling for unordered lists */
.subcontent ul li {
    justify-content: center;
    list-style-type: none;
    display: inline-block;
    margin: 0 40px;
}

/* styling for address section */
.content address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    border-left: 8px solid rgb(103, 77, 42); 
    margin: 0 50px;
}

/* styling for address section */
.content address a{
    display: inline-block;
    margin: 0 50px;
}

/* styling for h2 */
.content > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid var(--primary);
    font-size: 50px;
    line-height: 1.1;
}

/* styling for subcontent classes */
.subcontent div {
    display: flex;
    justify-content: center; 
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 400px;
    border:5px solid rgb(103, 77, 42);
    border-style: solid;
    font-size: 30px;
    font-weight: bold;
    border-radius: 20%;  
}

/* add background image for work section */
.subcontent div#prework {
    background-image: url(../images/1.jpg);
    /* height: 700px;
    width: 700px; */
}

.subcontent div#refactor {
    background-image: url(../images/2.jpg);
}

.subcontent div#arche {
    background-image: url(../images/3.png);
}

/* hover effects for subcontents */
.subcontent a:hover {
    color: rgb(186, 16, 124);
    font-size: larger;
    font-weight: bold;
    opacity: 90%;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.1);
    transition: 1s ease;
    
}
.subcontent div:hover {
    opacity: 70%;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.1);
    transition: 1s ease;
}

.content address a:hover {
    color: rgb(186, 16, 124);
    font-size: larger;
    font-weight: bold;
    opacity: 90%;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.1);
    transition: 1s ease;
}

footer a:hover {
    color: rgb(186, 16, 124);
    font-size: larger;
    font-weight: bold;
    opacity: 90%;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.1);
    transition: 1s ease;
}

/* media queries */
@media screen and (min-width: 992px) {
    article {
    flex: 0 0 }